.add-course-container {
    margin-top: 1cm;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: auto; 
    max-height: 80vh; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-course {
    width: auto;
    height: 500px;
    padding: 40px;
    padding-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block;
    font-size: larger;
}
h2{
    text-align: center;
}
.submit-button{
    width:80px;
    background-color: cornflowerblue;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
    align-self: center;
    margin-left: 170px;
    cursor: pointer;
}
