.admin-login-container{
border: 2px double gold;
margin:300px;
padding: 50px;
width: 500px;
}
.admin-login-container input{
    width: auto;
}
.admin-login-container button{
 width:70px;
 margin-left: 100px;
 cursor: pointer;
 color: antiquewhite;
 background-color: blue;
 border-radius: 5px;
}
.form-group{
    padding-bottom: 20px;
}