.admin-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.admin-welcome {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
}

.admin-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-button:hover {
    background-color: #0056b3;
}
