
 .image{
    height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
 }
 .contact-us{
   text-align: center;
   background-color: #8a4af3;
 }
 .logo {
    width: 350px;
    align-items: center;
 }
 .cont{
   color: #23074d;
 }
 .mail{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:crimson;
 }
 .contact-info{
   display: block;
   margin-left: 2cm;
 }
