/*react-project/src/LearnerSignUp.css*/
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container4 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; 
    height: 625px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container4 form {
    width: 100%;
}


.container4 input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
}


.container4 input[type="submit"] {
    width: 50%; 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: block; 
}
.container4 input[type="date"]{
    color: #000;
}

.container4 label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: large;
    color: #000;
}


.container4 h2 {
    color: #000;
    text-align: center;
}

.container4 a {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    display: block; 
    text-align: center;
}

.container4 a:hover {
    text-decoration: underline;
}
.container4 select, option{
    color: #000;
}

.container4 p{
    color: green;
}
