.course-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .course-preview-details {
    max-width: 600px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .course-preview-details img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .course-preview-details  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    align-self: center;
  }
  
  .course-preview-details a:hover {
    background-color: #0056b3;
  }