/*react-project/src/LearnerSignIn.css*/
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.learner-component-background{
    background-image: url('e-learning.jpg'); 
    background-size: cover;
    background-position: center;
    color: blue;
    height: 100vh ;

}

.container3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    width: 400px;
    height: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container3 form {
    width: 100%; 
}


.container3 input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.container3 input[type="submit"] {
    width: 50%; 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto; 
    display: block;
}
.container3 label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: large;
    color: #000;
}

.container3 h2 {
    color: #000;
    text-align: center;
}

.container3 a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.container3 a:hover {
    text-decoration: underline;
}
